### Enable mod_rewrite
RewriteEngine On

### Restrict private paths/files
RewriteRule "^/?.git"            - [F]
RewriteRule "^/?vendor"          - [F]
RewriteRule "^/?app"             - [F]
RewriteRule "^/?composer.json"   - [F]
RewriteRule "^/?composer.lock"   - [F]
RewriteRule "^/?.gitignore"      - [F]

### Rewrite all non-existing requests to index.php
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*)$ index.php?__uri=$1 [NC,L]

### Disabled indexes
Options -Indexes

### Pass authorization if given
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0